* {
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0px;
}

#header {
    background-color: rgb(252, 124, 77);
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 100px;
}

.buscador {
    width: 300px;
    height: 30px;
    font-size: 15px;
}

.lupita {
    width: 42px;
    height: 36px;
}


.menuGeneral {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu {
    text-decoration: none;
    padding: 10px;
    color: white;
}


.barraHeader ul {
    padding: 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* css MAIN INDEX */

.formato {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.secBarra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 15%;
}

.barraVertical {
    background-color: rgb(252, 124, 77);
    padding: 10px;
    width: 100%;
    margin: 10px 5px;
}

.barraVertical h2 {
    color: white;
}

.listaCategorias li {
    list-style-type: none;
    margin: 10px 0px;
    padding: 10px 0px;
}

.categoria {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

h2 {
    width: 100%;
    color: black;
    text-align: center;
}



.productos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 85%;
    color: black;
}

.sec1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 82vw;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    background-color: white;
    margin-bottom: 40px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 20px 20px rgba(57, 56, 56, 0.1);
}



.sec2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 82vw;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    border-top: black;
    box-shadow: 0 20px 20px rgba(57, 56, 56, 0.1);
}


.randoms {
    width: 45%;
    margin-bottom: 55px;
    margin-top: 55px;
    margin-left: 55px;
}

.randoms p {
    width: 75%;
}

.detalles {
    text-decoration: none;
    background-color: rgb(252, 124, 77);
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
    font-weight: 60;
    padding: 8px 15px;
}

.fotorandom {
    width: 75%;
    height: 75%;
    box-shadow: 0 30px 30px rgba(57, 56, 56, 0.1);
}

.fotobest {
    width: 75%;
    height: 75%;
    box-shadow: 0 30px 30px rgba(57, 56, 56, 0.1);
}


.bests {
    width: 45%;
    margin-bottom: 55px;
    margin-top: 55px;
    margin-left: 55px;
}


.bests p {
    width: 75%;
}



/* CSS LOGIN Y REGISTER */
#main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 100vh;

}

#main form {
    background-color: rgb(251, 190, 143);
    padding: 10%;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 100px;
}



/* CSS PRODUCT */
.mainflynpaff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.infoproducto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 85%;
}

.fotoflynnpaff {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 35%;
    margin-top: 90px;
}

.tituloflynnpaff {
    font-weight: 600px;
    color: black;
    margin-top: 150px;
}

.fotoflynnpaff img {
    box-shadow: 0 20px 20px rgba(57, 56, 56, 0.1);
    height: 400px;
}


.desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.secRev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    align-items: center;
}

.reviews {
    font-weight: 600px;
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(252, 124, 77);
    background-color: rgb(250, 176, 150);
    padding: 15px;
    border-radius: 10px;
}

.tituloreviews {
    text-decoration: underline;
}

.comentarioflynnpaff {
    font-style: italic;
    color: #333;
    margin: 10px 0;
}


.usuario1 {
    background-color: rgb(249, 196, 178);
    padding: 10px;
    margin-bottom: 20px
}

.usuario2 {
    background-color: rgb(249, 196, 178);
    padding: 10px;
    margin-bottom: 20px
}



footer {
    color: white;
    background-color: rgb(250, 168, 138);
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footerNav {
    list-style: none;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.footerMail {
    color: rgb(49, 49, 255);
    padding-left: 50px;
}

.footerPalo {
    padding-left: 15px;
    padding-right: 15px;
}




/* CSS search results */
.tituloresultados {
    text-align: center;
    color: black;
    width: 100%;
}

.productossearch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    color: black;
}


/* Category.html CARAMELOS */
.titulocaramelos {
    text-align: center;
    width: 100%;
    color: rgb(252, 124, 77);
    margin-top: 45px;
    margin-bottom: 50px;

}

.caramelos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: 0px;
    padding: 0px;
    background-color: white;

}


.categorycaramelos {
    width: 48%;
    margin-bottom: 50px;
    color: black;
}

.detalles {
    text-decoration: none;
    background-color: rgb(252, 124, 77);
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
    font-weight: 60;
    padding: 8px 15px;
}

.fotocaramelos {
    display: block;
    width: 75%;
    height: 75%;
    box-shadow: 0 20px 20px rgba(57, 56, 56, 0.1);
}


.mainCategory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}






/* RESPONSIVE */

/* Estilos tablet 768px */
@media(max-width: 768px) {


    .barraHeader ul {
        align-items: center;
        list-style-type: none;
    }
}




/* Estilos telefono 420px */
@media(max-width: 420px) {

    /* ESTILO P HEADER */
    #header {
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    .barraHeader {
        flex-direction: column;
    }

    .barraHeader ul li {
        margin-bottom: 5px;
        width: 100%;
        height: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* ESTILO P FOOTER */
    .footerNav{
        height: auto;
        flex-direction: row;
        padding: 10px;
    }

    .footerNav li{
        width: 100%;
        height: 15px;
        font-size: 15px;

        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .footerPalo a{
        display: none;
    }

    .footerMail{
        padding: 0px;
        margin-top: 10px;
    }


    /* ESTILO BARRA HEADER */
    .secBarra {
        flex-direction: column;
        width: 100vw;
    }

    /* ESTILO P CATEGORY.HTML */
    .caramelos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }

    .categorycaramelos{
        margin-bottom: 160px;
    }


    /* ESTILO P INDEX.HTML */
    .productos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        padding: 0px;
    }


    .sec2 h2{
        margin-bottom: 0px;
    }

    .sec1 h2{
        margin-bottom: 0px;
    }

    .fotorandom{
        width: 100%;
        height: 50%;
    }

    .fotobest{
        width: 100%;
        height: 50%;
    }

    .randoms{
        margin-bottom: 60px;
    }

    .bests {
        margin-bottom: 60px;
    }

    /* ESTILO P PRODUCT.HTML */
    .fotoflynnpaff img {
        height: auto;
        width: 100vw;
    }
    /* este style de fotoflynpaff es tentativo. no entendemos como hacer que la foto ewntre para el celu*/


    /* FORMULARIOS */
    #main form{
        width: 95%;
        margin: 20px auto;
        padding: 15px;
    }


}
