body {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header{
    background-color: rgb(252, 124, 77);
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 100px;
}

.buscador{
    width: 300px;
    height: 30px;
    font-size: 15px;
}

.lupita{
    width: 42px;
    height: 36px;
}


.menuGeneral{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu {
    text-decoration: none;
    padding: 10px;
    color: white;
}


/* DISEÑO RESPONSIVE */

/* Estilos laptop 1200px */
body {
    background-color:white;
    margin: 0px;
}

#header {
    background-color: rgb(252, 124, 77);
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.barraHeader ul {
    padding: 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* CSS LOGIN Y REGISTER */

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

/* no entiendo si para que este centrada 100% tengo que poner 100vh, porque en realidad me hace scrollear en la pantalla */


#main form{
    background-color: rgb(211, 211, 211);
    padding: 10%;
}



/* Estilos tablet 768px */
@media(max-width: 768px) {


    .barraHeader ul{
        align-items: center;
        list-style-type: none;
    }
}


/* Estilos telefono 420px */

@media(max-width: 420px) {
    
    #header{
        height: 300px;
    }

    .barraHeader{
        flex-direction: column;
    }
    
    .barraHeader ul li{
        margin-bottom: 5px;
        width: 100%;
        height: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}


/* css product */

.mainflynpaff{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #ebe7ea;
}



.fotoflynnpaff{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 320px;
    margin-bottom: 400px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 70px;
}

.fotoflynnpaff img{
    box-shadow: 0 20px 20px rgba(57, 56, 56, 0.1);
    height: 400px;
}

.infoproducto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 400px;
    margin: 0;
    padding: 0;

}

article{
    width: 380px;
    text-align: left;
}

.tituloflynnpaff{
    font-weight: 600px;
    color: black;
    margin-top: 40px;
}

.reviews{
    font-weight: 600px;
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgb(252, 124, 77);
    background-color: rgb(250, 176, 150);
    padding: 15px;
    border-radius: 10px;
}

.tituloreviews{
    text-decoration: underline;
}

.comentarioflynnpaff{
    font-style: italic;
      color: #333;
      margin: 10px 0;
}


.usuario1{
    background-color: rgb(249, 196, 178);
    padding: 10px;
    margin-bottom: 20px
    
}

.usuario2{
    background-color: rgb(249, 196, 178);
    padding: 10px;
    margin-bottom: 20px
}
